.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.qrForm {
  padding-top: 30px;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.qr-code-form label {
  float: left;
}

.qr-code-form .form-group {
  min-height: 42px;
}

.qr-code-form input {
  float: right;
}

.qrForm canvas {
  margin-top: 30px;
  height: 256px !important;
  width: 256px !important;
}

.edge-logo {
  margin-top: 40px;
}

.App-link {
  color: #61dafb;
}
